<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="/team" method="post">
     <label for="">Team Name: </label> <input type="text" name="name"><br><br>
     <label for="">Coach: </label> <input type="text" name="coach"><br><br>
     <label for="">Point Guard: </label> <input type="text" name="pg"><br><br>
     <label for="">Shooting Guard: </label> <input type="text" name="sg"><br><br>
     <label for="">Power Forward: </label> <input type="text" name="pf"><br><br>
     <label for="">Small Forward: </label> <input type="text" name="sf"><br><br>
     <label for="">Center: </label> <input type="text" name="c"><br><br>
     <input type="submit" id="Submit">
   </form>
 </body>
</html>
